<h1>ユーザーページ</h1>
<%= @nickname %>

<% @habits.each do |habit| %>
  <%= link_to habit_path(habit.id), method: :get do %>
    <%= habit.title %>
  <% end %>
<% end %>

<h3>最近の習慣記録</h3>

<% @records.first(2).each do |record| %>
  <%= record.created_at.strftime('%Y/%m/%d') %>
  <%= record.habit.title %>
  <%= link_to habit_record_path(@habits.ids, record.id), method: :get do %>
    <%= record.text %>
  <% end %>
<% end %>

<%= link_to "習慣を作る", new_habit_path %>
<% if @habits.ids.present? %>
  <%= link_to "記録する", new_habit_record_path(@habits.ids), method: :get %>
<% end %>