<h1>ユーザーページ</h1>
<%= @nickname %>

<% @habits.each do |habit| %>
  <%= link_to habit_path(habit.id), method: :get do %>
    <%= habit.title %>
  <% end %>
<% end %>

<h3>最近の習慣記録</h3>

<% @records.first(2).each do |record| %>
  <%= render partial: 'records/record', locals: { record: record } %>
  <%= record.text %>
<% end %>

<%= link_to "習慣を作る", new_habit_path %>
<% if @habits.ids.present? %>
  <%= link_to "記録する", new_habit_record_path(@habits.ids), method: :get %>
<% end %>

<%= javascript_pack_tag 'user/show' %>
<div id='calendar'></div>