  <%= record.created_at.strftime('%Y/%m/%d') %>
  <%= link_to user_path(record.user_id), method: :get do %>
    <%= record.user.nickname %>
  <% end %>
  <%= link_to habit_path(record.habit.id), method: :get do %>
    <%= record.habit.title %>
  <% end %>
  <%= link_to habit_record_path(@habits.ids, record.id), method: :get do %>
    <p>習慣達成</p>
  <% end %>
  <%= image_tag record.image if record.image.attached? %>

<div id="like-btn-<%= record.id %>">
  <%= render partial: 'likes/like', locals: { record: record } %>
</div>